.stacked-nav {
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0 ,0 ,0, 0.1);
  padding-left: 0;

  li {
    background: #fff;
    padding: 14px 20px;
    list-style: none;
    border-bottom: 1px solid #eeeeee;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0px 0px 4px 4px;
    }
  }

  a {
    color: #86919F;

    &.active {
      font-weight: bold;
      color: darken(#86919F, 50%);
    }

    &:hover {
      text-decoration: none;
    }
  }
}
