.btn-primary {
  border-radius: 3px;
  background: $blue;
  border-color: $blue;

  &:hover, &:focus {
    background: lighten($blue, 15%);
    border-color: lighten($blue, 15%);
  }

  &:active {
    background: #005DD6;
    border-color: #005DD6;
  }
}

.btn-default {
  border-color: #e6e6e6;
}
