.modal-content {
  background: #f6f9fc;
  border: none;
  box-shadow: none;
}

.modal-header {
  padding: 20px 32px 20px 32px;
  background: #fff;
  border-radius: 4px 4px 0 0;
}

.modal-body {
  background: #f6f9fc;
  padding: 32px;
}

.modal-footer {
  padding: 20px 32px 20px 32px;
  border-top: none;
}
