label {
  font-weight: 300;
}

.form-control {
  border-color: #e6e6e6;
  border-radius: 3px;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    border-color: $blue;
  }
}

.has-error .form-control {
  &:focus {
    box-shadow: none;
  }
}

.form-sub-header {
  color: #3d464d;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-group-addon {
  border: 1px solid #e6e6e6;
  background-color: #f6f9fc;
}
