.avatar-container {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 !important;
}

.avatar {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;

  &--present {
    opacity: 1;
  }

  &--not-present {
    opacity: 0;
  }
}

.default-avatar {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cart-container {
  display: inline-block;
  width: 20px;
  margin: 0 !important;
}
