.clients {
  &__heading {
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__action {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__btn {
    margin-top: 20px;
    font-weight: bold;
    padding: 12px 30px;
  }

  &__logos {
    margin-top: 60px;
  }

  &__logo-row {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__logo-item {
    display: block;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: none;
      margin-bottom: 0px;
      display: inline-block;
    }
  }
}
