.footer {
  padding: 20px 0;

  &__copy {
    color: #fff;
  }

  &__socials {
    margin-bottom: 0;
    padding-left: 0;
  }

  &__socials-item {
    display: inline-block;

    a {
      color: #fff;
      padding: 6px 12px;
    }
  }
}
