#hero {
  padding-top: 100px;
  background: url('/images/banner-bg.png') no-repeat;
  background-size: cover;
  position: relative;
  height: 728px;
}

#how-it-works {
  padding: 120px 0;
}

#why-us {
  background-color: #ECF4F7;
  padding: 120px 0;
  position: relative;
}

#featured-meals {
  background-color: #FFD0A1;
  padding: 40px 0;
  position: relative
}

#clients {
  background-color: #888888;
  padding: 40px 0;
}

#form-footer {
  padding-top: 100px;
  background: url('/images/footer-bg.png') no-repeat;
  background-size: cover;
  position: relative;
  background-color: #2d2d2d;
}

#form-bottom {
  padding: 120px 0;
}
