.steps {
  margin-top: 60px;

  &__heading {
    font-family: 'PoppinsSemiBold', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFD0A1;
  }

  &__img-wrapper {
    height: 110px;
    margin-bottom: 40px;
  }

  &__img {
    margin: 0 auto;
  }

  &__item-desc {
    padding: 0 10px;
  }
}
